<div class = "apply">

    <div class = "container">

 
        <div class = "form-right">          
         <span class = "notchecked" [ngClass] = "{'checked':check1}">1</span>
         <div class = "div1" [ngClass] = "{'divChecked':check1}" > <i id = "arrow" class="fa fa-check" aria-hidden="true" style = "visibility: {{show1}};"></i></div>

         <span class = "notchecked" [ngClass] = "{'checked':check2}">2</span>
         <div class="div1" [ngClass] = "{'divChecked':check2}"><i id = "arrow" class="fa fa-check" aria-hidden="true" style = "visibility: {{show2}};"></i></div>
         <span class = "notchecked" [ngClass] = "{'checked':check3}">3</span>
         <div class="div1" [ngClass] = "{'divChecked':check3}"><i id = "arrow" class="fa fa-check" aria-hidden="true" style = "visibility: {{show3}};"></i></div>
         <span class = "notchecked" [ngClass] = "{'checked':check4}">4</span>
         <div></div>
        
        </div>
  
        <div class = "form-left">
            <h1>Apply for Loan<i id = "icon1" class="fa fa-location-arrow" aria-hidden="true"></i></h1>
           
            <form [formGroup] = "applyForm" *ngIf = "step1" (submit) = "onStep1()">
                <input type = "text" placeholder = "Enter your first name" formControlName = "first" ><br/>
                <input type = "text" placeholder="Enter your last name" formControlName = "last" ><br/>
                <input type = "email" placeholder="Enter your email-id" formControlName = "email"><br/>
                <input type = "text" placeholder="Enter your mobile number" formControlName = "mobile"><br/>
  
                <p class = "validate" *ngIf = "applyForm.controls.emi.errors && (applyForm.controls.emi.touched ||applyForm.controls.emi.dirty)">*Select Existing EMI</p>   
                <select formControlName = "emi">
                    <option value="">Existing EMI</option>
                    <option>Yes</option>
                    <option>No</option>
                </select><br/>
                <p class = "validate" *ngIf = "applyForm.controls.address.errors && (applyForm.controls.address.touched ||applyForm.controls.address.dirty)">*Address required</p>   
                <input type = "text" placeholder="Enter your Address" formControlName = "address"><br/>
               
                <p class = "validate" *ngIf = "applyForm.controls.district.errors && (applyForm.controls.district.touched ||applyForm.controls.district.dirty)">*Cityrequired</p>   
                <select style = "margin-right:4rem;" formControlName = "district">
                    <option value ="">City</option>
                    <option>Ajmer</option>
                </select>
                <p class = "validate" *ngIf = "applyForm.controls.state.errors && (applyForm.controls.state.touched ||applyForm.controls.state.dirty)">*State required</p>
                <select formControlName="state">
                    <option value ="">State</option>
                    <option>Rajasthan</option>
                </select><br/>
                
                <p class = "validate" *ngIf = "applyForm.controls.pin.errors && (applyForm.controls.pin.touched ||applyForm.controls.pin.dirty)">*Pin required</p>
                <input type = "text" placeholder="Pin Code" formControlName="pin"><br/>
                
                <p class = "validate" *ngIf = "applyForm.controls.annual.errors && (applyForm.controls.annual.touched ||applyForm.controls.annual.dirty)">*Annual Salary required</p>
                <input type = "text" placeholder="Annual Salary" formControlName="annual"><br/>
                
                <p class = "validate" *ngIf = "applyForm.controls.empType.errors && (applyForm.controls.empType.touched ||applyForm.controls.empType.dirty)">*Employment Type required</p>
                <select formControlName="empType">
                    <option value="">Employment Type</option>
                    <option>Self-Employed</option>
                    <option>Salaried</option>
                </select><br/>
                <button [disabled] = "applyForm.invalid">Next</button>
  
            </form>
  
  
  
            <form *ngIf = "step2" [formGroup] = "documentDetails" (submit) = "onStep2()">
                <label>Upload Aadhar Card</label><br/>
                <p class = "validate" *ngIf = "documentDetails.controls.aadhar.errors && (documentDetails.controls.aadhar.touched ||documentDetails.controls.aadhar.dirty)">*Aadhar required</p>
                <input type = "file" formControlName="aadhar"><br/>
                <label>Upload PAN Card</label><br/>
                <p class = "validate" *ngIf = "documentDetails.controls.pan.errors && (documentDetails.controls.pan.touched ||documentDetails.controls.pan.dirty)">*Pan required</p>
                <input type = "file" formControlName = "pan"><br/>
                <label>Upload Address Proof</label><br/>
                <p class = "validate" *ngIf = "documentDetails.controls.addressProof.errors && (documentDetails.controls.addressProof.touched ||documentDetails.controls.addressProof.dirty)">*Address Proof required</p>
                <input type = "file" formControlName="addressProof"><br/>
                <label>Upload Salary Slip</label><br/>
                <p class = "validate" *ngIf = "documentDetails.controls.salary.errors && (documentDetails.controls.salary.touched ||documentDetails.controls.salary.dirty)">*Salary Slip required</p>
                <input type = "file" formControlName="salary"><br/>
                <button type = "button" (click)= "onStep2Prev()" >Previous</button>
                <button type = "submit" [disabled] = "documentDetails.invalid" >Next</button>
  
            </form>
  
            <form *ngIf = "step3" [formGroup] = "vehicleDetails" (submit)= "onStep3()">
                <p class = "validate" *ngIf = "vehicleDetails.controls.chasis.errors && (vehicleDetails.controls.chasis.touched ||vehicleDetails.controls.chasis.dirty)">*Chasis Number required</p>
                <input type = "text" placeholder="Chasis Number" formControlName = "chasis"><br/>
                <p class = "validate" *ngIf = "vehicleDetails.controls.brand.errors && (vehicleDetails.controls.brand.touched ||vehicleDetails.controls.brand.dirty)">*Brand required</p>
                <input type = "text" placeholder="Brand" formControlName="brand" ><br/>
                <p class = "validate" *ngIf = "vehicleDetails.controls.model.errors && (vehicleDetails.controls.model.touched ||vehicleDetails.controls.model.dirty)">*Model required</p>
                <input type = "text" placeholder="Model" formControlName="model"><br/>
                <p class = "validate" *ngIf = "vehicleDetails.controls.exPrice.errors && (vehicleDetails.controls.exPrice.touched ||vehicleDetails.controls.exPrice.dirty)">*Ex-Showroom Price required</p>
                <input type= "text" placeholder="Ex-Showroom Price" formControlName="exPrice"><br/>
                <p class = "validate" *ngIf = "vehicleDetails.controls.type.errors && (vehicleDetails.controls.type.touched ||vehicleDetails.controls.type.dirty)">*Vehicle Type required</p>
                <input type = "text" placeholder="Vehicle Type" formControlName = "type"><br/>
                <p class = "validate" *ngIf = "vehicleDetails.controls.onRoad.errors && (vehicleDetails.controls.onRoad.touched ||vehicleDetails.controls.onRoad.dirty)">*On road price required</p>
                <input type = "text" placeholder="On Road Price" formControlName="onRoad"><br/>
                <input type = "text" placeholder="Vehicle Colour" formControlName="colour"><br/>
                <button type = "button" (click)= "onStep3Prev()">Previous</button>
                <button  type = "submit" [disabled]="vehicleDetails.invalid">Next</button>
            </form>
            <form *ngIf = "step4" [formGroup] = "loanDetails" (submit) = "onStep4()">
                <p class = "validate" *ngIf = "loanDetails.controls.loanAmount.errors && (loanDetails.controls.loanAmount.touched ||loanDetails.controls.loanAmount.dirty)">*Loan Amount required</p>
                <input type = "number" placeholder="Loan Amount" formControlName ="loanAmount"><br/>
                <p class = "validate" *ngIf = "loanDetails.controls.loanTenure.errors && (loanDetails.controls.loanTenure.touched ||loanDetails.controls.loanTenure.dirty)">*Loan Tenure required</p>
                <input type = "number" placeholder="Loan Tenure" formControlName ="loanTenure"><br/>
                <p class = "validate" *ngIf = "loanDetails.controls.interest.errors && (loanDetails.controls.interest.touched ||loanDetails.controls.interest.dirty)">*Interest required</p>
                <input type = "number" placeholder="Rate of Intrest" formControlName ="interest"><br/>
                <p class = "validate" *ngIf = "loanDetails.controls.date.errors && (loanDetails.controls.date.touched ||loanDetails.controls.date.dirty)">*Date required</p>
                <input type = "date" formControlName ="date"><br/>
                <button type = "button" (click)= "onStep4Prev()">Previous</button>
                <button  type = "submit" [disabled]="loanDetails.invalid">Submit</button>
            </form>
        </div>
    </div>
  
  </div>