
<header [class.header_change] = "scrollHead">

<div class = "headContainer" >




		<div class = "header2" >

		
			<ul class = "loginMain">
				
				<li><a href = "#">Home</a></li>
				
				<li><a href = {{link}}>Apply Loan</a></li>
				<li><a href = "emi-calculator">EMI Calculator</a></li>
				<li><a href = "eligibility">Eligibility</a></li>
				<li  *ngIf = "showLogin" class = "login"><a href = "app-login"><i class="fa fa-user" aria-hidden="true"></i>{{name}}</a>	</li>
                 <li  *ngIf = "showDrop">
					 <!-- <select>
						 <option>{{name}}</option>
						 <option>Dashboard</option>
						 <option><button (click) = "logOut()">Log out</button></option>
					 </select> -->
                
                    
					 <div > 
                        <ul>
						<li>{{name}}</li>
						<li >Dashboard</li>
						<li><button (click) ="logOut()"> Log out</button></li>
					</ul>

					 </div>
				 </li>
				
			</ul>
				
		</div>

	</div>


</header>
