
<header [class.header_change] = "scrollHead">

<div class = "headContainer" >




		<div class = "header2" >

		
			<ul>
				
				<li><a href = "#">Home</a></li>
				
				<li><a href = "apply-loan">Apply Loan</a></li>
				<li><a href = "emi-calculator">EMI Calculator</a></li>
				<li><a href = "eligibility">Eligibility</a></li>
				<li class = "login"><a href = "app-login"><i class="fa fa-user" aria-hidden="true"></i>{{name}}</a></li>
                 
				
			</ul>
				
		</div>

	</div>


</header>
