a{
    text-decoration: none;
    
}


.login{
    margin-top:120px;

}

.welcomeUser{
    position: absolute;
    top:130px;
    right:25px;

}

.welcomeUser ul li ul{
    visibility: hidden;
}
.welcomeUser ul li :hover{
   visibility: visible;
}
.welcomeUser option , .welcomeUser select{
    padding:1rem;
    background-color: orange;
}
.top{
    font-size: 1.2rem;
    padding:0.5rem;   
    
}
.top a:hover{
    color: orange;
}

.login-frame{
    width:50%;
    margin:3rem auto;
    display: flex;
    height:500px; 
    box-shadow: 3px 3px 5px 6px #ccc; 
}


.login-frame a{

    color:#02324b;

}

.login-img{
    width:50%;
    background-color: rgb(214, 214, 228);
   
    
}
.login-content{
    width:45%;
 
    padding:2rem;
    text-align: center;
}
.welcome{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color:#02324b;
}
.sign{
    font-weight: bold;
    color:rgb(53, 51, 51);
    margin-bottom:2rem;
}
input{

    width: 75%;
    padding: 1rem; 
    border: 0;
    background-color:rgb(240, 240, 240);
    font-size: 1rem;
    margin-bottom:1rem;
}


button{
   border: 0;
   width:75%;
   padding:0.5rem;
   background-color: #02324b;
   border-radius: 30px;
  color:white;
  font-size:1.3rem;
margin:  0.5rem auto;
cursor: pointer;

}
.forgot{
    margin-left:9rem;
   
}

a{
    text-decoration: none;
}
button:hover{
    color:rgba(255,255,255,0.85);
   
}
.validate{
    margin-bottom: 0.2rem;
    color:red;


}

@media(max-width:900px)
{
    .login-frame{
        width:80%;
    }
    .login-img{
        width:0;
    }
    .login-content{
        width:90%;
 
    }
}

