<div class = "emi">
    <div class = "emi1">
        <div class= "calc">
             <div class = "calc1">
                   <div>Loan Amount</div>
                   <div>1L</div>
                    <div> <input type="range" min="30" max="300" value="30" (input)="valueChanged1($event.target.value)"></div>
                    <div>1Cr</div>
                    <div class = "display">{{display1}}</div>              
              </div>

           

           <div class= "calc2">
           <div>Tenure (Years)</div>
           <div>1</div>
            <div><input type="range" min="1" max="100" value="30" (input)="valueChanged2($event.target.value)"></div>
            <div>8</div>
            <div class = "display">{{display2}}</div>           
           
          </div>

          

            <div class= "calc3"> 
                <div>Intrest (in %) </div>
                <div>5</div>      
                <div>  <input type="range" min="10" max="100" value="30" (input)="valueChanged3($event.target.value)"></div>
                <div>25</div>
               <div class = "display">{{display3}}</div>
               
            </div>

          
            <div >
               <button (click) = "calculate()">Calculate</button>
               <p *ngIf = "show" style = "font-size: 1.5rem"> Equated Monthly Installment (EMI) will be {{value}}</p>
            </div>
          
              
        </div>

      

 














        
    </div>
</div>
