<div class = "main">

  
    <div class="slider">
     
      
        <img src ="../../assets/video_Moment.jpg" width ="100%" height = "500px"/>
    
     
    </div>
       <div class = "main2">
            <div class = "about">
                 <h1>About Us</h1>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. At tellus at urna condimentum.
                  Viverra justo nec ultrices dui. Ornare lectus sit amet est placerat in egestas erat.
                   Sit amet porttitor eget dolor morbi non. Mi eget mauris pharetra et ultrices neque ornare.
                   incididunt ut labore et dolore magna aliqua. At tellus at urna condimentum.
                  Viverra justo nec ultrices dui. Ornare lectus sit amet est placerat in egestas erat.
                   Sit amet porttitor eget dolor morbi non. Mi eget mauris pharetra et ultrices neque ornare.
                   incididunt ut labore et dolore magna aliqua. At tellus at urna condimentum.
                   Viverra justo nec ultrices dui. Ornare lectus sit amet est placerat in egestas erat.
                    Sit amet porttitor eget dolor morbi non. Mi eget mauris pharetra et ultrices neque ornare.
                 </p>
            </div>
            <div class = "blogs">
              <div><a>
                <p class ="p1"><i class="fa fa-calculator" aria-hidden="true"></i></p>
                <p class ="p2">Vehicle Loan EMI Calculator</p>
                <p class= "p3">Instantly calculate your monthly payment</p></a>
              </div>
              <div>
                <a href = "document">
                <p class ="p1"><i class="fa fa-book" aria-hidden="true"></i></p>
                <p class ="p2">Vehicle Loan Documentation</p>
                <p class= "p3">Quick,Easy and minimum documentation</p>
              </a>

              </div>
              <div>
                <a>
                <p class ="p1"><i class="fa fa-comments" aria-hidden="true"></i></p>
                <p class ="p2">Vehicle Loan FAQs</p>
                <p class= "p3">Check the frequently asked questions</p>
              </a>
              </div>

            </div>

            <div class = "cards">


                <div class = "card">
                  <img src = "https://i.ytimg.com/vi/0X36AwfdNbE/maxresdefault.jpg">
                  <h3>Benefits of Applying for Online Vehicle Loan</h3>
                  <p>magna fringilla urna porttitor rhoncus dolor purus.magna fringilla urna porttitor rhoncus dolor purus.
                    magna fringilla urna porttitor rhoncus dolor purus.magna fringilla urna porttitor rhoncus dolor purus....
                  </p>
                  <button><a href = "#"> Read More</a></button>

                </div>

                <div class = "card">
                    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuFuPjzV88pKOLAumgKy8E0z_SP705TrMfIQ&usqp=CAU">
                    <h3>How to get the online Vehicle loan in easy steps</h3>
                    <p>magna fringilla urna porttitor rhoncus dolor purus.magna fringilla urna porttitor rhoncus dolor purus.
                      magna fringilla urna porttitor rhoncus dolor purus.magna fringilla urna porttitor rhoncus dolor purus....
                    </p>
                    <button><a href = "#"> Read More</a></button>

                </div>
                <div class = "card">
                    <img src = "https://www.icicibank.com/managed-assets/images/blog/small/5-reasons-why-car-insurance-is-a-must-thumb.jpg">
                    <h3>Things to consider Before Applying for Vehicle Loans</h3>
                    <p>magna fringilla urna porttitor rhoncus dolor purus.magna fringilla urna porttitor rhoncus dolor purus.
                      magna fringilla urna porttitor rhoncus dolor purus.magna fringilla urna porttitor rhoncus dolor purus...
                    </p>
                    <button><a href = "#"> Read More</a></button>

                </div>
            </div>
    
        </div>
      









</div>
