ul{
    list-style: none;
}



.adminDash{
margin-top:70px;
}
table {
    width: 100%;
    border:1px solid black;
    border-bottom: 0;
    border-right:0;
  

}

td{
    text-align: center;
    padding:0.5rem;
    border-right: 1px solid black;
    border-bottom:1px solid black;
}



.adminMain{
   
    width:90%;
    margin:auto;
    display: flex;
   
}


.left{

    height:650px;
    width:20%;
    background-color:#042030;
   
}
.right{
    width: 80%;
}

ul{
    padding:0;
}

li{
    border-bottom:1px solid rgba(255,255,255,0.2);
    padding: 1.2rem;
    color: white;
    font-size: 1.2rem;
}
li:hover{
    background-color: #31353D;
    cursor: pointer;
    
}

button{
    padding:0.2rem 1rem;
    color:white;
    font-size: 1.1rem;
    
}

.view{
   position: absolute;
    top:70px;
    width:90%;
   background-color: rgba(0,0,0,0.5);
  padding:5rem;
 
   
   
}
.view div{
    display: flex;
    background-color:white;

}

.view div li{
    color:black;
}