<div class = "adminDash">
<div class = "adminMain">
    <div class ="left" >

     <ul>
         <li>All Users</li>
         <li>Accepted Applications</li>
         <li>Rejected Applications</li>
         <li>Manage Offers</li>        
     </ul>
    </div>

    <div class = "right">


        <table >
           <thead>
               <tr>
               <td>User Id</td>
               <td>Name</td>
               <td>Email</td>            
               <td>View</td>
               <td>Accept</td>
               <td>Reject</td>
            </tr>
           </thead>
           <tbody *ngFor ="let u of users">
               <tr>
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td><button (click)="viewForm(u)" style ="background-color:#0278ae;">View Form</button></td>
                <td><button style ="background-color:rgb(35, 175, 35);">Accept</button></td>
                <td><button style ="background-color: rgb(202, 46, 46)">Reject</button></td>
            </tr>
           </tbody>
        </table>



    </div>
</div>


    <div *ngIf = "view" class = "view">
        <div ><button style = "background-color:red; border:none" (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></button></div> 
        <div>
         
<div>
        <ul>
           
            <li>User Id</li>
            <li>Name</li>
            <li>Email</li>
            <li>Gender</li>
            <li>Mobile</li>
            <li>Age</li>
            <li>Password</li>
           
        </ul>
</div>
<div>
    <ul>
        <li>{{displayDetails.id}}</li>
        <li>{{displayDetails.name}}</li>
        <li>{{displayDetails.email}}</li>
        <li>{{displayDetails.gender}}</li>
        <li>{{displayDetails.mobile}}</li>
        <li>{{displayDetails.age}}</li>
        <li>{{displayDetails.password}}</li>
    </ul>
</div>

        








        </div>

    </div>
    
</div>