
<div class = "register">

    <div *ngIf = "success" class = "success">Congratulations ! You have been successfully registered. Click here to <a href = "user-login">Login</a></div>
    <div *ngIf = "fail"  class = "success">Sorry ! The Email Id has been already registered</div>
    <form [formGroup] = "registerForm" (submit)="onRegister()">
     <div class="main">
      <h1 class = "head">Registration Form</h1>
     
            <p class = "validate" *ngIf = "registerForm.controls.firstName.errors && (registerForm.controls.firstName.touched ||registerForm.controls.firstName.dirty)">*First Name required</p>   
            <div class="column">               
                <div class="col-label"><label >First Name</label></div>
                <div><input type="text" placeholder="Enter First Name" formControlName = "firstName"></div>
            </div>   


            <p class = "validate" *ngIf = "registerForm.controls.lastName.errors && (registerForm.controls.lastName.touched ||registerForm.controls.lastName.dirty)">*Last Name required</p>   
            <div class="column">
                <div class="col-label"><label>Last Name</label></div>  
                <div><input type="text" placeholder="Enter Last Name" formControlName = "lastName"></div>
            </div>
            <p class = "validate" *ngIf = "registerForm.controls.age.errors && (registerForm.controls.age.touched ||registerForm.controls.age.dirty)">*Age required</p>   
            <div class="column">
                <div class="col-label"><Label>Age</Label></div>
                <div><input type="number" placeholder="Enter Age" formControlName = "age"></div>
            </div>
    
        
            <div class="column" >
                <div class="col-label"><label>Gender</label></div>
                <div><select name="gender" id="gender" formControlName = "gender" >
                <option value="">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
                </select></div>
            </div> 
     
            <p class = "validate" *ngIf = "registerForm.controls.email.errors && (registerForm.controls.email.touched ||registerForm.controls.email.dirty)">*Email-Id required</p>   
            <div class="column">  
                <div class="col-label"><label>E-Mail</label></div>
                <div><input type="email" placeholder="Enter E-Mail Id" class="col-input" formControlName = "email"></div>
            </div>


            <p class = "validate" *ngIf = "registerForm.controls.password.errors && (registerForm.controls.password.touched ||registerForm.controls.password.dirty)">*Password required</p>   
            <div class="column">
                <div class="col-label"><label>Password</label></div>
                <div><input type="password" placeholder="Enter Your Password" class="col-input" formControlName = "password"></div>
            </div>

          
            <div class="column">
                <div class="col-label"><label>Confirm Password</label></div>
                <div><input type="password" placeholder="Confirm Password" class="col-input" formControlName = "rePassword"></div>
            </div>

            <p class = "validate" *ngIf = "registerForm.controls.mobile.errors && (registerForm.controls.mobile.touched ||registerForm.controls.mobile.dirty)">*Mobile number Required</p>   
            <div class="column">
                <div class="col-label"><label>Mobile Number</label></div>
                <div><input type="text" placeholder="Enter Mobile Number" class="col-input" formControlName = "mobile"></div>
            </div>

           <button [disabled] = "registerForm.invalid">Register</button>
        
        </div>
    </form>

 

  

</div>